<!--Implementing Component A, the parent component-->

<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</head>

<body>
  <div class="firstdiv">
    <h1 class="heading1"><b>Demonstrating parent-child Component action-Parent here</b></h1>
    <br>
    <h2 class="heading2">{{getTitle()}}</h2>
  </div>
  <div class="seconddiv">
    <h1 class="heading3">Component A</h1>
    <br>
    <marquee id="marquee1" behavior="alternate" direction="left" scrollamount="7">Type in the text area below</marquee>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <form>
            <div class="form-group">
              <label for="firstName" class="heading4">Your Name</label>
              <input required minlength="1" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)"
                id="firstName" type="text" class="form-control" [placeholder]="'Enter your name'">

              <!--Whenever we use ngModel directive along with the name attribute, an instance of the form-control class is created and it is associated with the input field. Multiple validation constraints can be applied on the input field using *ngIf directive-->

              <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
                Your name is required.
              </div>
            </div>
            <div class="form-group">
              <label for="comment" class="heading4">Type/compose a poem</label>
              <textarea ngModel name="comment" #comment="ngModel" id="comment" cols="30" rows="8" class="form-control"
                [placeholder]="placeholderVal">

            </textarea>
            </div>
            <button class="btn btn-primary sendbutton1">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-childcompo-b [loggedIn]="userLoggedIn" [yourName]="firstName.value" [composedPoem]="comment.value">
  </app-childcompo-b>

</body>
<!--End of line-->